
@font-face {
    font-family:nav ;
    src: url(../../fonts/CreatoDisplay-Medium.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    padding: 2vw 5vw;
    background-color: #161E22;

       justify-content: space-between;
        align-items: center;
}

.logo{
    height: 30px;
}

nav a{
    text-decoration: none;
    font-size: 1.4vw;
    color: #F5F8EE;
    font-family: nav;
  
}

.left{
    gap: 20px;
    display: flex;
}
